streamlit
pandas
numpy
requests
plotly
streamlit-aggrid==1.0.5
yfinance
matplotlib
gspread
metaapi-cloud-sdk>=7.0.0
python-dateutil
gspread_dataframe
streamlit-modal>=0.0.7







